.calculator {
  background-color: #7A787D;
  padding: 1rem;
  margin: 0 auto;
  
  border: 1rem solid #7A787D;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .calculator {
    margin: 3rem auto;
    
  }
}


@media (orientation: portrait) {
  .calculator {
    padding: 4rem 1rem;
  }
}

.display {
  background-color: white;
}

.key {
  margin: 1rem;
  cursor: pointer;
}

.centered {
  text-align: center;
  padding: 0.5rem 0.5rem;
}

.right {
  padding: 0.5rem 1rem;
}

.portrait {
  margin: 0;
  padding: 0;
}

.number {
  background-color: #7C989F;
}

.row {
  justify-content: space-around;
}

.operator {
  background-color: #C2C1C3;

}

